MONGODB_URI=mongodb://mongo1:1111,mongo2:2222,mongo3:3333/?replicaSet=shop-mongo-set
# MONGODB_URI=mongodb://localhost:1111
MONGODB_CATALOG_DB_NAME=db1
MONGODB_PAYMENT_DB_NAME=db2

RABBITMQ_USERNAME=root
RABBITMQ_PASSWORD=admin
RABBITMQ_HOST=localhost
RABBITMQ_PORT=2222

REDIS_HOST=localhost
REDIS_PORT=3333
REDIS_DB_NAME=0
REDIS_DB_PASSWORD=pass

GRPC_CATALOG_HOST=localhost
GRPC_CATALOG_PORT=:4444
GRPC_CART_HOST=localhost
GRPC_CART_PORT=:5555
GRPC_PAYMENT_HOST=localhost
GRPC_PAYMENT_PORT=:6666