STRIPE_SECRET_KEY=1234

ORIGIN_ALLOWED=http://localhost:8000
WEB_SERVER_PORT=:3000

SEED_PRODUCTS=catalog.csv

MONGODB_URI=mongodb://mongo1:1111,mongo2:2222,mongo3:3333/?replicaSet=shop-mongo-set
# MONGODB_URI=mongodb://localhost:1111
MONGODB_DB_NAME=db1

RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_HOST=localhost
RABBITMQ_PORT=2222
RABBITMQ_MANAGEMENT_PORT=15672

REDIS_URL=localhost:1234
# Below is Redis URL if running in a docker compose network
# REDIS_URL=redis://<redis_hostname>:<redis_port>
REDIS_DB_INDEX=0
REDIS_DB_TEST_INDEX=1
REDIS_DB_PASSWORD=pass

GRPC_CATALOG_HOST=localhost
GRPC_CATALOG_PORT=:4444
GRPC_CART_HOST=localhost
GRPC_CART_PORT=:5555
GRPC_PAYMENT_HOST=localhost
GRPC_PAYMENT_PORT=:6666