STRIPE_SECRET_KEY=<key>

ORIGIN_ALLOWED=*
WEB_SERVER_PORT=:5000

SEED_PRODUCTS=catalog.csv

MONGODB_DB_NAME=microserviceDB

# mongodb atlas URI
MONGODB_URL=mongodb+srv://<username>:<password>@microservicedb.tfcrq.mongodb.net/myFirstDatabase?retryWrites=true&w=majority
# To use docker replica set for transactions, create:
# 1. 3 mongo db containers + 1 for setup
# 2. script.sh to create replica set (example in script folder)
# 3. create data folder for docker volume mounting data persistence

# mongodb local URI
# MONGODB_URL=mongodb://mongo1:27017,mongo2:27018,mongo3:27019/?replicaSet=shop-mongo-set

RABBITMQ_URL=amqp://<username>:<password>@rabbitmq:5672/

REDIS_URL=redis://redis:6379
REDIS_DB_INDEX=0
REDIS_DB_PASSWORD=

GRPC_CATALOG_HOST=catalog-service
GRPC_CATALOG_PORT=:50051
GRPC_CART_HOST=cart-service
GRPC_CART_PORT=:50052
GRPC_PAYMENT_HOST=payment-service
GRPC_PAYMENT_PORT=:50053